---
import { AstroComponentInstance } from 'astro/dist/runtime/server';
import Layout from '../layouts/Layout.astro';

const players=await Astro.glob('../../public/images/players/*')
console.log(players)
---

<Layout title="Vaentu">
	<main>
	<h1>TORNEO DELLA SCUOLA!</h1>
	<p>sezione 3e!</p>
	{
		players.map(i => (
		<div class="player"> <button class="pass" type="button">Pass!</button>
			<img src={i.default} alt=""/>
			<button class="smash" type="button">Smash!</button>
		</div>
		) )
	}
	</main>

</Layout>
<style>
	main {
		text-align: center;
		/* mix-blend-mode: difference; */
		color: white;
		font-size: 3rem;
		text-transform: uppercase;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	img {
		width: 35%;
		padding: 2rem;
		transition: 1s;
	
	
	}
	img:hover{
		scale: 1.5;
	}
	h1 {
		font-size: 6vw;
	}
	p {
		font-size: 6vw;
	}
	.player {
		width: 100%;
		display:flex;
		justify-content: space-around;
		align-items: center;
	}
	button {
		background: none;
		border: none;
		color: rgb(224, 17, 17);
		font-size: 3vw;
		text-transform: uppercase;
		transition: 1s;
	
		

	}
	button.smash {
		color: green; 
	}
	button:hover {
		scale: 1.5;
	
	}
</style>
