---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Vaentu">
	<main>
	<h1>CIAO SONO SAMU!</h1>
	<p>E sono proprio un bravo developer!</p>
	</main>
</Layout>
<style>
	main {
		text-align: center;
		mix-blend-mode: difference;
		color: white;
		font-size: 3rem;
		text-transform: uppercase;
	}
</style>