---
import { AstroComponentInstance } from 'astro/dist/runtime/server';
import Layout from '../layouts/Layout.astro';

const players=await Astro.glob('../../public/images/players/*')
console.log(players)
---

<Layout title="Vaentu">
	<main>
	<h1>TORNEO DELLA SCUOLA!</h1>
	<p>sezione 3e!</p>
	{
		players.map(i => <img src={i.default} alt=""/> )
	}
	</main>

</Layout>
<style>
	main {
		text-align: center;
		/* mix-blend-mode: difference; */
		color: white;
		font-size: 3rem;
		text-transform: uppercase;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	img {
		width: 50%;
		padding: 2rem;
		transition: 1s;
	
	
	}
	img:hover{
		scale: 1.5;
	}
	h1 {
		font-size: 6vw;
	}
	p {
		font-size: 6vw;
	}
</style>
