---
import { AstroComponentInstance } from 'astro/dist/runtime/server';
import Layout from '../layouts/Layout.astro';

const players=await Astro.glob('../../public/images/players/*')
console.log(players)
---
<script>
	console.log('scrivi ciao, sscrivi la frase che vuoi')
	document.querySelectorAll('button').forEach(el=>{
		el.onclick= () => {
			console.log(el.parentNode)
			const voto=el.getAttribute('data-voto')
			el.parentNode!.querySelector('img')!.classList.remove('smash')
			el.parentNode!.querySelector('img')!.classList.remove('pass')
			el.parentNode!.querySelector('img')!.classList.add(voto!)

		}
	})
</script>
<Layout title="Vaentu">
	<main>
	<h1>TORNEO DELLA SCUOLA!</h1>
	<p>sezione 3e!</p>
	{
		players.map(i => (
		<div class="player"> <button class="pass" data-voto="pass" type="button">Pass!</button>
			<img src={i.default} alt=""/>
			<button class="smash" data-voto="smash" type="button">Smash!</button>
		</div>
		) )
	}
	</main>

</Layout>
<style>
	main {
		text-align: center;
		/* mix-blend-mode: difference; */
		color: white;
		font-size: 3rem;
		text-transform: uppercase;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	img {
		width: 35%;
		padding: 2rem;
		transition: 1s;
	
	
	}
	h1 {
		font-size: 6vw;
	}
	p {
		font-size: 6vw;
	}
	.player {
		width: 100%;
		display:flex;
		justify-content: space-around;
		align-items: center;
	}
	button {
		background: none;
		border: none;
		color: rgb(224, 17, 17);
		font-size: 3vw;
		text-transform: uppercase;
		transition: 1s;
	
		

	}
	button.smash {
		color: green; 
	}
	button:hover {
		scale: 1.5;
	
	}
	img.smash {
		filter:saturate(2);
		scale: 1.2;
	}
	img.pass {
		filter:grayscale(1);
		scale: 0.8;
	}
</style>
